

.contenedor-principal-peticiones{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 20vh);
    overflow-y: auto;
}

.botones-oracion{
    width: 100%;
    margin-top: 4px;
    background-color: var(--color-boton-oracion);
    color: var(--color-text-boton-oracion);
    border: none;
    position: relative;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    font-weight: 800;
}
.botones-oracion:hover{
    background-color: var(--color-bg-with-hover);
    color: var(--color-txt-with-hover);
  }

  .botones-oracion:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background: var(--color-line-with-hover);
    transition:600ms ease all;
  }
  .botones-oracion:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .botones-oracion:hover:before,.botones-oracion:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.contenedor-peticiones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.peticion{
    position: relative;
    background-color: var(--color-bg-peticiones);
    display: flex;
    margin-top: 10px;
    height: 56px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px -1px 6px 0px var(--color-bs-peticion);
}

.botones-peticiones {
    display: flex;  
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}

.cuadrado {
    position: relative;
    width: 100px;
    height: 100px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: aliceblue;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuadrado span {
    position: absolute;
    font-size: 12px;
    float: unset;
    margin-top: 53px;
    color: var(--color-txt-with-hover);
    bottom: 0px;
    font-weight: 500;
}

.modalActualizado{
    display: none;
}

.ri-add-line, .ri-check-double-line, .ri-check-line {
    font-size: 30px;
}

.contenido-tareas {
    display: none;
    margin-top: 26px;
    flex-direction: column;
}

.navegador-oracion {
    align-self: flex-start; /* Cambiado de justify-self a align-self*/
}

/* Asegúrate de que los botones en el navegador no se centren*/
.navegador-oracion button {
    margin: 5px; /* Puedes ajustar el margen según sea necesario*/
}

.titulo {
    font-size: 12px;
    padding: 10px;
    color: var(--color-title-peticion);
}

#desc {
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Agregado para una transición suave de rotación*/
}

.botones ion-icon {
    font-size: 30px;
    margin: 5px;
    color: var(--color-title-peticion);
}

.descripcion {
    margin-top: -10px;
    display: none;
    padding: 25px 10px;
    background-color: var(--color-exp-peticion);
    border-end-end-radius: 10px;
    /* Oculta inicialmente la descripción*/
}

.rotar {
    transform: rotate(90deg);
    /* Rotación inicial, ajusta según sea necesario*/
}

.descripcion-visible {
    display: flex;
    flex-direction: column;
}

/* Estilos del modal */
.modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

/* Estilos para el botón de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover {
    color: #555;
}

form {
    display: block;
    margin-top: 0em;
}

textarea.form-control {
    min-height: calc(1.5em + (0.75rem + 2px));
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea {
    resize: vertical;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

label {
    display: inline-block;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.h5, h5 {
    font-size: 1.25rem;
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.modal-footer>* {
    margin: 0.25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}