:root{
    /* MENÚ */
    --color-bar-bg-menu:    #F4D1AE;
    --color-texto:            #1B2021;
    --color-texto-menu:       #1B2021;
    --color-menu-hover:       #1B2021;
    --color-menu-hover-texto: #F4D1AE;
    --color-boton-texto:      #F4D1AE;
    --color-boton:            #1B2021;
    --color-btn-circulo-mini:    #1B2021;
    --color-circulo:          #E8A565;
    --color-linea:            #1B2021;
    --color-switch-base :     #1B2021;
    --color-switch-circulo:   #F4D1AE;
    --color-scroll:           #c0c0c0;
    --color-scroll-hover:     #868686;
}

.dark-mode{
    /* MENÚ */
    --color-bar-bg-menu:   #1B2021;
    --color-title-menu:      #E8A565;
    --color-texto:           #E8A565;
    --color-texto-menu:      #E8A565;
    --color-menu-hover:      #E65353;
    --color-menu-hover-texto:#F4D1AE;
    --color-boton-texto:     #1B2021;
    --color-boton:           #1B2021;
    --color-bg-menu-circulo: #F4D1AE;
    --color-btn-circulo-mini:   #1B2021;
    --color-linea:           #66101F;
    --color-switch-base :    #F4D1AE;
    --color-switch-circulo:  #1B2021;
    --color-scroll:          #F4D1AE;
    --color-scroll-hover:    #66101F;
}


/*-----------------Menu*/
.menu{
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-circulo);
    color: var(--color-btn-circulo-mini);
    right: 15px;
    top: 15px;
    z-index: 100;
}
.menu ion-icon:nth-child(2){
    display: none;
}
/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-bar-bg-menu);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.barra-lateral{
    position: fixed;
    left: -250px;
}

.mini-barra-lateral{
    width: 80px;
}


.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}
/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-title-menu);
    /* margin-bottom: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-lateral .titulo-nav{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.barra-lateral .navegador-opcion{
    width: 100px;
    white-space: nowrap;
    font-size: 1.3rem;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}

.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

/*------------> Botón*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton{
    border-radius: 15px;
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 40px;
}
/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}
.max-barra-lateral{
    width: 65%;
    left: 0;
}
/*-----------------> Linea*/

.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro{
    margin-bottom: 3px;
}

.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{

    width: 50px;
    font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

/*---------------> Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}


/*-------------main*/

#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

/* main{
    margin-left: 250px;
    padding: 0px;
    transition: margin-left 0.5s ease;
}

main.min-main{
    margin-left: 80px;
} */

main{
    margin-left: 0;
}
main.min-main{
    margin-left: 0;
}