.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.right-form{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    padding: 10px 0px 10px 0px;
    background-color: #00000007;
    box-shadow: -3px 3px 5px #088bf6b4;
}

.right-form form {
    grid-area: 1 / 1 / 2 / 4;
    max-width: 100%;/* Asegura que el ancho sea del 100% del contenedor */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 50px repeat(3, 30px);
    justify-items: center;
    align-items: center;
}

.right-form .imagen-pequeña{
    max-width: 28%;
    object-fit:cover;
}
   
.right-form h2 {
    font-size: 1.5rem;
    color: #088bf6b4;
    font-weight: 700;
}

.right-form form > input {
    border: 1px solid #088bf6b4;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
    width: 90%;
}

.right-form form > input:focus {
    border-color: #F60835;
}

.right-form label {
    font-size: .8rem;
    font-weight: 800;
    color: rgb(0, 85, 155);
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
}

.right-form button {
    width: 90%;
    background-color: #F60835;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: .7rem;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-form button:hover {
    background-color: #088bf6b4;
}

.imagen-grande{
     display: none;
}

@media (min-width: 1024px){
    
    .right-form{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, 250px);
        padding: 0px;
        align-items: center;
        justify-items: center;
    }
    .imagen-pequeña{
        display: none;
    }
    
    .right-form h2 {
        font-size: 2.5rem;
    }
    
    .right-form form > input {
        height: 30px;
    }

    .right-form label {
        font-size: 1rem;
    }
    
    .right-form button {
        border-radius: 10px;
        font-size: 1.6rem;
    }
    
    .imagen-grande{
        grid-area: 1 / 1 / 4 / 3;
        display: inline;
        width: 100%;
        height: 100%;
        border-top-left-radius: 28px;
        border-bottom-right-radius: 28px;
        object-fit: cover;
    }
    
    .right-form form {
    grid-area: 1 / 3 / 4 / 5;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .right-form{
        width: 60%;
    }
    .right-form h2 {
        font-size: 3rem;
    }
    
    .right-form form > input {
        width: 70%;
        height: 30px;
    }

    .right-form label {
        font-size: 1rem;
        width: 70%;
    }
    
    .right-form button {
        width: 70%;
        border-radius: 10px;
        font-size: 1.6rem;
    }
}