:root{
    --color1: #02031a;
    --color2: #021b2b;
    --color3: #b10c43;
    --color4: #ff0841;
    --color5: #ebdfcc;

    --color-bg-header-light: #b10c43;
    --color-bg-header-dark: #02031a;
    --color-txt-header: #ebdfcc;

    --color-barra-lateral: #b10c43;
    --color-scroll: #021b2b;
    --color-scroll-hover: #021b2b;
    --color-menu-hover: #021b2b;
    --color-menu-hover-texto: #021b2b;

    --color-texto-menu: #ebdfcc;

}

.dark-mode{-hover
    
}

*{
    outline        : none;
    border         : none;
    text-decoration: none;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    font-family    : 'Outfit', sans-serif;
}

body{
    margin          : 0; /* Elimina el margen predeterminado del navegador */
    padding         : 0; /* Elimina el relleno predeterminado del navegador */
    width           : 100%; /* Ocupa todo el ancho de la ventana */
    height          : 100vh; /* Ocupa toda la altura de la ventana */
    background-color: var(--background);
}