
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="static\images\logosheraga.png" type="image/x-icon">
    {% endblock head %}

    <title>
        {% block title %}
            ICBA-Jovenes |  
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav>
            {% block menu %}
            
            {% endblock menu %}
        </nav>
    </header>
<main class="contenedor-principal">
    {% block contenido %}
        
    {% endblock contenido %}
</main>


{% block script %}
    
{% endblock script %}
</body>
</html>