{% extends 'menu.html' %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock head %}


{% block title %}
    {{ super() }}
    Dashboard
{% endblock title %}

{% block contenido %}
    <section class="contenedor-banner">
        <h1 class="titulo-publicidad">Campamento Bernal 2024</h1>
        <img class="imagen-publicidad" src="../static/images/bernal.jpg" alt="Publicidad Bernal">
        <div class="contenedor-info">
            <h2 class="info-der">Fecha:</h2> <span class="info-izq">29 de Julio al 03 de Agosto</span>
            <h2 class="info-der">Hora:</h2>  <span class="info-izq">07:00 a.m.</span>
            <h2 class="info-der">Costo:</h2> <span class="info-izq">$1750</span>
            <!-- <h2 class="info-der">Transporte: </h2> -->
            <span class="alert">Recuerda que tienes hasta el 15 de Abril para dar el anticipo</span>
        </div>        
    </section>
{% endblock contenido %}