<!DOCTYPE html>
<html>

<head>
    <title>Iniciar sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styleLogin.css">
    <!-- "{{ url_for('static', filename='css/login.css') }}"> -->
    <link rel="icon" href="../static/images/ClubBiblicoSHERAGA.png" type="image/x-icon">
</head>

<body class="cuerpo">
    <div class="container">     
        <section class="right-form">
            
            <img class="imagen-grande" src="./static/images/ClubBiblicoSHERAGA.png" alt="">

            <form method="POST" action="{{ url_for('auth.login') }}">
                    <img class="imagen-pequeña" src="./static/images/logosheraga.png" alt="">
                    
                    <h2>Iniciar sesión</h2>
                    
                    <label for="username">Usuario:</label>
                    <input type="text" name="nombre_usuario" id="username">
    
                    <label for="password">Contraseña:</label>
                    <input type="password" name="contrasena" id="password">
                    <br><br>
                    <button type="submit" class="form-button">Iniciar sesión</button>
            </form>
    </section>    
    </div>
</body>

</html>