{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styleLogin.css">
{% endblock head %}

{% block title %}
    {{ super() }}
    Login
{% endblock title %}

{% block contenido %}
    <div class="container">
        <div class="login">
            <div class="login__content">
                <img class="login__img" src="../static/images/bg-login.png" alt="Login image" />
                <form class="login__form" method="POST" action="{{ url_for('auth.login') }}">
                    <div>
                        <h1 class="login__title">
                            <span>Dios</span> te bendiga
                        </h1>
                        <p class="login__description">
                            ¡Bienvenido! Inicie sesión para continuar.
                        </p>
                    </div>
                    <div>
                        <div class="login__inputs">
                            <div>
                                <label for="username" class="login__label">Usuario</label>
                                <input class="login__input" type="text" name="nombre_usuario" id="username" placeholder="Ingrese Usuario" required />
                            </div>
                            <div>
                                <label for="password" class="login__label">Contraseña</label>
                                <div class="login__box">
                                    <input class="login__input" type="password" name="contrasena" id="password" placeholder="Ingrese Contraseña" required />
                                    <i class="ri-eye-off-line login__eye" id="input-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="login__buttons">
                            <button class="login__button">Iniciar sesión</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block script %}
    <script src="../static/js/main.js"></script>
{% endblock script %}