{% extends 'base.html' %}

{% block head %}
    {{ super () }}
    <link rel="stylesheet" href="../static/css/styleMenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
{% endblock head %}

{% block title %}
    {{ super() }}
{% endblock title %}

{% block menu %}

    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>
    <div class="barra-lateral">
        <nav class="navegacion">
            <ul>
                <li>
                    <a id="church" href="/inicio">
                        <ion-icon class="fas fa-solid fa-church";></ion-icon>
                        <span class="navegador-opcion">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/hora_silenciosa">
                        <ion-icon class="fas fa-solid fa-book-bible"></ion-icon>
                        <span class="navegador-opcion">Devocional</span>
                    </a>
                </li>
                <li>
                    <a href="/oracion">
                        <ion-icon class="fas fa-solid fa-hands-praying"></ion-icon>
                        <span class="navegador-opcion">Oracion</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon class="fas fa-solid fa-brain"></ion-icon>
                        <span class="navegador-opcion">Memorización</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <ion-icon class="fas fa-solid fa-ranking-star"></ion-icon>
                        <span class="navegador-opcion">Calendario</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="/tabla_puntos_sumar">
                        <ion-icon class="fas fa-solid fa-ranking-star"></ion-icon>
                        <span class="navegador-opcion">Puntos</span>
                    </a>
                </li> -->
                <li>
                    <a href="#">
                        <ion-icon class="fas fa-solid fa-gear"></ion-icon>
                        <span class="navegador-opcion">Ajustes</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <ion-icon class="fas fa-solid fa-right-from-bracket"></ion-icon>
                        <span class="navegador-opcion">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <div class="linea"></div>
            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span class="dark_mode_txt">Dark Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="usuario">
                <img src="../static/images/{{ usuario }}.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre">{{ usuario }}</span>
                        <span class="email" style="opacity: 0;">jhampier@gmail.com</span>
                    </div>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
{% endblock menu %}

{% block contenido %}
    {{ super() }}
{% endblock contenido %}

{% block script %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="{{ url_for('static', filename='js/contenido.js') }}"></script>
    <script src="../static/js/menu.js"></script>
{% endblock script %}