{% extends 'menu.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleScorePoints.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock head %}

{% block title %}
    {{ super() }}
    Puntos
{% endblock title %}

{% block menu %}
    {{ super() }}
{% endblock menu %}


{% block contenido %}
    <section class="contenedor-principal-peticiones">
    <section class="botones-peticiones">
        <button class="botones-oracion"><a class="link-none" href="/mostrar_usuarios_admin">Puntos Individuales</a></button>
        <button class="botones-oracion"><a class="link-none" href="/mostrar_equipos_admin">Puntos Equipo</a></button>
    </section>
    {% if mostrar_usuarios %}
    <!-- Tabla de usuarios -->
    {% for usuario, datos in usuarios.items() %}
    <div class="container-cards mt-5">
        <div class="contenedor-card row">
            <div class="imagen col-md-4">
                <img src="static/images/{{ usuario }}.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="body-card col-md-8">
                {% if datos[3] == 'CB' %}
                    {% set equipo = "Chicos del Barrio" %}
                {% else %}
                    {% set equipo = "Chicas Super Poderosas" %}
                {% endif %}
                <h5 class="card-title">{{ usuario }}</h5>
                <p class="card-text"><b>Equipo:</b> {{ equipo }}</p>
                <p class="card-text"><b>Puntos:</b> {{ datos[2] }}</p>
                {% if rol == 'Admin' %}
                    <div class="buttons-card">
                        <button type="button" class="btn" title="Restar Puntos" onclick="restarPuntos('{{ usuario }}')">
                            <i class="fa-solid fa-person-circle-minus" style="color: #ffffff; font-size: 18px;"></i>
                        </button>

                        <button type="button" class="btn" title="Sumar Puntos" onclick="sumarPuntos('{{ usuario }}')">
                            <i class="fa-solid fa-person-circle-plus" style="color: #ffffff; font-size: 18px;"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="buttons-card" style="display: none;"></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

    {% if mostrar_equipos %}

        <!-- Tabla de equipos -->
            {% for equipo, puntos in equipos.items() %}
                {% if equipo == "Chicos del Barrio" %}
                    <section class="chicos">
                        <div class="container">
                            <img src="static/images/cuatro.png" class="container-image imagen-cuatro" alt="foto1">
                            <img src="static/images/todos.png" class="container-image imagen-todos" alt="foto2">
                            <img src="static/images/tres.png" class="container-image imagen-tres" alt="foto3">
                            <img src="static/images/knd.png" class="container-image imagen-knd" alt="foto4">
                            {% if rol == 'Admin' %}
                                <div class="puntaje-chicos">
                                    <h2 id="puntos-equipo-barrio">{{ puntos }}</h2>
                                    <button onclick="sumarPuntos('CB+')" class="btn btn-success mas-chicos">+</button>
                                    <button onclick="sumarPuntos('CB-')" class="btn btn-danger menos-chicos">-</button>
                                </div>
                            {% else %}
                                <div class="puntaje-chicos">
                                    <h2 id="puntos-equipo-barrio">{{ puntos }}</h2>
                                    <button onclick="sumarPuntos('CB+')" class="btn btn-success mas-chicos" style="display: none;">+</button>
                                    <button onclick="sumarPuntos('CB-')" class="btn btn-danger menos-chicos" style="display: none;">-</button>
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {% endif %}

                {% if equipo == "Chicas Super Poderosas" %}
                    <section class="chicas">
                        <div class="container-chicas">
                            <img src="static/images/chicas5.png" class="container-image imagen-bellota" alt="foto1">
                            <img src="static/images/chicas2.png" class="container-image imagen-title" alt="foto2">
                            <img src="static/images/chicas3.png" class="container-image imagen-burbuja" alt="foto3">
                            <img src="static/images/chicas4.png" class="container-image imagen-todas" alt="foto4">

                            <div class="puntaje-chicas">
                                <h2 id="puntos-equipo-poderosas">{{ puntos }}</h2>{% if rol == 'Admin' %}
                                <button onclick="sumarPuntos('CP+')" class="btn btn-success mas-chicas">+</button>
                                <button onclick="sumarPuntos('CP-')" class="btn btn-danger menos-chicas">-</button>
                            </div>
                {% else %}
                    <button onclick="sumarPuntos('CP+')" class="btn btn-success mas-chicas" style="display: none;">+</button>
                    <button onclick="sumarPuntos('CP-')" class="btn btn-danger menos-chicas" style="display: none;">-</button>
                {% endif %}
            </div>
        </section>
          {% endif %}
            {% endfor %}
    {% endif %}
</section>

{% endblock contenido %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/scorePoints.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock script %}
