{% extends 'menu.html' %}

{% block head %}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleShowActivePrayers.css') }}">
{% endblock head %}

{% block title %}
    {{ super() }}
    Oración
{% endblock title %}

{% block contenido %}
    <section class="contenedor-principal-peticiones">
        <section class="botones-peticiones">
            <button type="button" class="cuadrado" id="abrirModal">
                <div class="circulo">
                    <i class="ri-add-line"></i>
                </div>
                <span>Agregar Oración</span>
            </button>
            <button type="button" class="cuadrado" onclick="mostrarTareas('activas')">
                <div class="circulo">
                    <i class="ri-check-line"></i>
                </div>
                <span>Activas</span>
            </button>
            <button type="button" class="cuadrado" onclick="mostrarTareas('finalizadas')">
                <div class="circulo">
                    <i class="ri-check-double-line"></i>
                </div>
                <span>Respondidas</span>
            </button>
        </section>
        <!-- Modal para agregar tarea -->
        <div class="modal" id="modalAgregarTarea">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nueva Petición de Oración</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal()"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formAgregarTarea">
                            <div class="form-group mb-3">
                                <label for="titulo">Título Petición</label>
                                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Coloca un título breve" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="col-form-label" for="descripcion">Descripción Petición</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Trata de ser muy específico con tu petición"  required></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label>
                                    <input type="radio" name="compartir" value="todos" checked> Compartir con Todos
                                </label><br>
                                <label>
                                    <input type="radio" name="compartir" value="lideres"> Compartir únicamente con líderes
                                </label>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Agregar Oración</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <section class="contenido-tareas" id="contenido-tareas-activas">
            {% if not tareas | selectattr('isActive', 'equalto', 'True') | list %}
                <p>No hay tareas disponibles.</p>
            {% else %}
                {% for tarea in tareas %}
                    {% if tarea['visibility'] == 'True' and rol == 'Admin' or user == tarea['creator'] %}
                        {% if tarea['isActive'] == "True" %}
                            <div class="contenedor-peticion">
                                <div class="peticion">
                                    <div class="titulo">
                                        <h2>{{ tarea['titulo'] }}</h2>
                                    </div>
                                    <div class="botones">
                                        <ion-icon name="hand-right" onclick="sumarOracion('{{ loop.index }}')"></ion-icon>
                                        <ion-icon name="checkmark-circle" data-bs-toggle="modal" data-bs-target="#modalCerrarTarea" onclick="toggleDesIcon('{{ loop.index }}')"></ion-icon>
                                        <ion-icon id="desc" name="chevron-forward-circle"
                                        onclick="toggleDescripcion(this)"></ion-icon>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    {{ tarea['descripcion'] }}
                                </div>
                            </div>
                        {% endif %}
                    {% elif tarea['visibility'] == 'False' %}
                        {% if tarea['isActive'] == "True" %}
                            <div class="contenedor-peticion">
                                <div class="peticion">
                                    <div class="titulo">
                                        <h2>{{ tarea['titulo'] }}</h2>
                                    </div>
                                    <div class="botones">
                                        <ion-icon name="hand-right" onclick="sumarOracion('{{ loop.index }}')"></ion-icon>
                                        {% if rol == 'Admin' or user == tarea['creator'] %}
                                            <ion-icon name="checkmark-circle" data-bs-toggle="modal" data-bs-target="#modalCerrarTarea" onclick="toggleDesIcon('{{ loop.index }}')"></ion-icon>
                                        {% endif %}
                                        <ion-icon id="desc" name="chevron-forward-circle"
                                        onclick="toggleDescripcion(this)"></ion-icon>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    {{ tarea['descripcion'] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- Modal para cerrar tarea -->
            <div class="modal" id="modalCerrarTarea">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cerrar Petición de Oración</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal()"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formCerrarPeticion">
                                <div class="form-group mb-3">
                                    <label class="col-form-label" for="testimonio">Testimonio</label>
                                    <textarea class="form-control" id="testimonio" name="testimonio" rows="3" placeholder="Cuentanos un poco sobre como respondió Dios, Recuerda que las respuestas de Dios no siempre son si"  required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Cerrar Oración</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="modalActualizado">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Petición Respondida</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal()"></button>
                        </div>
                        <div class="modal-body">
                            <span>Gracias por compartir con nosotros tus cargas <3</span>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contenido-tareas" id="contenido-tareas-finalizadas">
            {% if not tareas | selectattr('isActive', 'equalto', 'False') | list %}
                <p>No hay oraciones respondidas</p>
            {% else %}
                {% for tarea in tareas %}
                    {% if tarea['visibility'] == 'True' and rol == 'Admin' or user == tarea['creator']  %}
                        {% if tarea['isActive'] == "False" %}
                            <div class="contenedor-peticion">
                                <div class="peticion">
                                    <div class="titulo">
                                        <h2>{{ tarea['titulo'] }}</h2>
                                    </div>
                                    <div class="botones">
                                        <ion-icon id="desc" name="chevron-forward-circle"
                                        onclick="toggleDescripcion(this)"></ion-icon>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    <p><strong>Descripción: </strong>{{ tarea['descripcion'] }}</p><br>
                                    <p><strong>Fecha de inicio: </strong>{{ tarea['fechaInicio'] }}</p><br>
                                    <p><strong>Fecha de respuesta: </strong>{{ tarea['fechaFinal'] }}</p><br>
                                    <p><strong>Testimonio: </strong>{{ tarea['testimonio'] }}</p><br>
                                    <p><strong>Número de veces que oraron por la petición fue de: </strong>{{ tarea['total'] }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% elif tarea['visibility'] == 'False' %}
                        {% if tarea['isActive'] == "False" %}
                            <div class="contenedor-peticion">
                                <div class="peticion">
                                    <div class="titulo">
                                        <h2>{{ tarea['titulo'] }}</h2>
                                    </div>
                                    <div class="botones">
                                        <ion-icon id="desc" name="chevron-forward-circle"
                                        onclick="toggleDescripcion(this)"></ion-icon>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    <p><strong>Descripción: </strong>{{ tarea['descripcion'] }}</p><br>
                                    <p><strong>Fecha de inicio: </strong>{{ tarea['fechaInicio'] }}</p><br>
                                    <p><strong>Fecha de respuesta: </strong>{{ tarea['fechaFinal'] }}</p><br>
                                    <p><strong>Testimonio: </strong>{{ tarea['testimonio'] }}</p><br>
                                    <p><strong>Número de veces que oraron por la petición fue de: </strong>{{ tarea['total'] }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>
    </section>
{% endblock contenido %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/showActivePrayers.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock script %}

<!-- onclick="marcarCompleta('{{ loop.index }}')" -->

<!-- Modal para agregar tarea -->
